.article-detail {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  .content {
    display: flex;
  }
  .catalog {
    width: 345px;
  }
  .card {
    width: 75%;
    box-shadow: 0 15px 35px #32325d1a, 0 5px 15px #00000012;
  }
  .header {
    padding: 20px 30px 1px 40px;
    margin-bottom: -5px;
  }
  .title {
    text-align: center;
  }
}