/*对 markdown 样式的补充*/
code, pre {
  /* color: #ccc; */
  background: none;
  /* font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; */
  /* font-size: 1em; */
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  overflow-y: hidden;
}
pre {
  background: #f6f8fa !important;
  background-color: #f6f8fa !important;
  position: relative;
  padding-left: 3.8em;
}
pre::-webkit-scrollbar {
  height: 8px !important;
}
pre::-webkit-scrollbar-track {
  background: transparent !important;
}
code {
  position: relative;
  white-space: inherit
}
span[line-row] {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  user-select: none;
  counter-reset: linenumber;
}
span[line-row]>span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
span[line-row]>span::before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: .8em;
  text-align: right
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
}

strong {
  font-weight: bold;
}

p>code:not([class]) {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/*中间内容区域样式*/
#articleContent {
  font-family: "Microsoft YaHei", 'sans-serif';
  font-size: 14px;
  line-height: 30px;
}

#articleContent .desc ul,
#articleContent .desc ol {
  color: #333333;
  margin: 1.5em 0 0 25px;
}

#articleContent .desc h1,
#articleContent .desc h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#articleContent .desc a {
  color: #009a61;
}

#articleContent h1::before,
#articleContent h2::before,
#articleContent h3::before,
#articleContent h4::before,
#articleContent h5::before,
#articleContent h6::before {
  display: block;
  content: " ";
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

#articleContent :focus {
  outline: none;
}

/*右侧目录样式补充*/
#tocbotContent {
  overflow: auto;
}

#tocbotContent ol {
  padding-left: 10px;
}

#tocbotContent ol li {
  padding-left: 10px;
}

#tocbotContent .toc-link:hover {
  color: #42b983;
  font-weight: 700;
  text-decoration: underline;
}

#tocbotContent .toc-link::before {
  background-color: transparent;
  max-height: 25px;
}

#tocbotContent .toc-list-item {
  list-style: none;
  white-space: nowrap;
}