/*全局样式*/
/* html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
.ant-popover-title {
  color: #666;
} */

/* common */
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  font-size: 14px;
  /* cursor: url('./assets/img/mouse.png'), default; */
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(136, 129, 129, 0.2);
  background: #f4f4f4;
  border-radius: 10px;
}

html,
body,
*,
*:before,
*:after {
  box-sizing: border-box;
}
.vinput {
  border-bottom: 1px dashed #dedede;
}
.vinput:focus {
  border-bottom-color: #eb5055;
}
input {
  color: rgba(0, 0, 0, 0.65);
  background: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}
input:focus {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}
input::-webkit-input-placeholder {
  color: #bfbfbf;
}
input::-moz-input-placeholder {
  color: #bfbfbf;
}
input::-ms-input-placeholder {
  color: #bfbfbf;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
a.a-click {
  color: #007fff;
  font-size: 12px;
  cursor: pointer;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
ul,li,ol {
  list-style: none;
}
.sprite {
  display: inline-block;
  vertical-align: middle;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pointer {
  cursor: pointer;
}
.ant-input {
  background-color: transparent !important;
}
.article-tag {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  height: 25px;
  line-height: 24px;
  color: #fff;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 2px;
  background-image: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%);
  opacity: 0.8;
  padding: 0 12px;
}
.container {
  height: calc(100% - 56px);
  width: 100%;
  overflow: auto;
  transition: all .5s;
}
@media screen and (max-width: 1366px) {
  .container {
    padding: 20px 100px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    padding: 20px 200px;
  }
}
.fa, .fas, .far, .fal, .fad, .fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}